### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:

# File to Load (Remember to Change These)
file_load = "purchase_data.csv"


# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_load, encoding = " ISO-8859-1")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [17]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

In [6]:
#Display the total number of players
player_count = purchase_data.loc[:, ["Gender","SN", "Age"]]
player_count

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
775  Female     Aethedru70   21
776    Male         Iral74   21
777    Male     Yathecal72   20
778    Male        Sisur91    7
779    Male      Ennrian78   24

[780 rows x 3 columns]

In [8]:
player_count = player_count.drop_duplicates()
player_demographics = player_count.count()[0]
player_demographics

pd.DataFrame ({"Total Players": [player_demographics]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_data["Price"].sum()

2379.77

In [10]:
#Run basic calculations to obtain number of unique items, average price, etc.

unique_items = len(purchase_data["Item ID"].unique())
unique_items


total_purchasing = purchase_data["Purchase ID"].count()
total_purchasing

total_profits = purchase_data["Price"].sum()
total_profits


average_data = purchase_data["Price"].mean()
average_data

#average_data = average_data1
average_data1 = total_profits/total_purchasing
average_data1


#Create a summary data frame to hold the results
purchase_analysis_df = pd.DataFrame([{"Unique Items":unique_items, "Average Price":average_data,
                             "Total Purchasing":total_purchasing, "Total Profits": total_profits}])
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Profits"] = purchase_analysis_df["Total Profits"].map("${:,.2f}".format)
purchase_analysis_df

sum_analys_df = purchase_analysis_df[["Unique Items", "Average Price", "Total Purchasing", "Total Profits"]]
sum_analys_df

   Unique Items Average Price  Total Purchasing Total Profits
0           179         $3.05               780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#create dataframe for gender
gender_df = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_df 

percentage_player = (purchase_data["Gender"].value_counts()/player_demographics)*100
percentage_player

gender_df["Percentage of Player"] = percentage_player
gender_df["Percentage of Player"] = gender_df["Percentage of Player"].map("{:,.2f}%".format)
gender_df 

#create columns for Gender and count 
gender_col_df = gender_df[["Percentage of Player", "Gender"]]
gender_col_df

#remane gender as total count
rename_gender_df = gender_col_df.rename(columns={"Gender":"Total Count"})
rename_gender_df

                      Percentage of Player  Total Count
Male                               113.19%          652
Female                              19.62%          113
Other / Non-Disclosed                2.60%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:

#groupby calculated on purchase count avg, purchase price avg, total purchase per person by gender
avg_purchase_gender_df = purchase_data.groupby(["Gender"])
avg_purchase_gender_df["Purchase ID"].count().head()

total_purchased = avg_purchase_gender_df["Price"].sum()
total_purchased
total_purchased_value = total_purchased.map("${:,.2f}".format)
total_purchased_value

#average purchases price by gender
avg_purchase_price = avg_purchase_gender_df["Price"].mean()
avg_purchase_price

avg_purchase_gender_value = avg_purchase_price.map("${:,.2f}".format)
avg_purchase_gender_value

#calculate the total purchase and divided player counts by gender
total_value = total_purchased/avg_purchase_gender_df["Purchase ID"].count()
total_value_df = total_value.map("${:,.2f}".format)
total_value_df

#display the summary data frame added to columns 
gender_purchesed_df = pd.DataFrame(avg_purchase_gender_df["Purchase ID"].count())
gender_purchesed_df["Average Price"] = avg_purchase_gender_value
gender_purchesed_df["Total Purchased Per Person"] = avg_purchase_price
gender_purchesed_df

                       Purchase ID Average Price  Total Purchased Per Person
Gender
Female                         113         $3.20                    3.203009
Male                           652         $3.02                    3.017853
Other / Non-Disclosed           15         $3.35                    3.346000

In [14]:
purchase_data.info("Age")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#create bins for group age number

bins = [0,9,14,19,24,29,34,39,9999]
age_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
#age demographic by using purchase data 
age_demographic_df = purchase_data
age_demographic_df["Demographics"] = pd.cut(age_demographic_df["Age"],bins,labels=age_group)
age_demographic_df

age_demographic_df = age_demographic_df.groupby("Demographics")
age_demographic_df.count()

demographics_data = pd.DataFrame(age_demographic_df.count())
demographics_data

#calculate demographics of age group to percentags 
demographics_data["Purchase ID"] = (demographics_data["Purchase ID"]/player_demographics)*100
demographics_data

#format percentage 

demographics_data["Purchase ID"] = demographics_data["Purchase ID"].map("{:,.2f}%".format)
demographics_data

#rewrite the number to a new columns
org_demographics_data = demographics_data[["Purchase ID","SN"]]
org_demographics_data

#create a summary data frame to the hold results 
summary_demographics_data = org_demographics_data.rename(columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
summary_demographics_data

             Percentage of Players  Total Count
Demographics
<10                          3.99%           23
10-14                        4.86%           28
15-19                       23.61%          136
20-24                       63.37%          365
25-29                       17.53%          101
30-34                       12.67%           73
35-39                        7.12%           41
40+                          2.26%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
purchase_data["SN"].count()

780

In [18]:
sum_age_data = pd.DataFrame(age_demographic_df["Purchase ID"].count())
sum_age_data

total_purchased_data = age_demographic_df["Price"].sum()
total_purchased_data
total_purchased_value_age = total_purchased_data.map("${:,.2f}".format)
total_purchased_value_age

#average purchases price by gender
avg_purchase_price_age = age_demographic_df["Price"].mean()
avg_purchase_price_age
avg_purchase_value_age = avg_purchase_price_age.map("${:,.2f}".format)
avg_purchase_value_age

#calculate the total purchase and divided player counts by gender
total_value_age = total_purchased_data/age_demographic_df["Purchase ID"].count()
total_value_df_age = total_value.map("${:,.2f}".format)
total_value_df_age

#display the summary data frame added to columns 
sum_age_data["Average Purchase Price"] = avg_purchase_value_age
sum_age_data["Total Purchase"] = total_purchased_value_age
sum_age_data

summary_age_data = sum_age_data.rename(columns={"Purchase ID":"Purchase Count"})
summary_age_data

              Purchase Count Average Purchase Price Total Purchase
Demographics
<10                       23                  $3.35         $77.13
10-14                     28                  $2.96         $82.78
15-19                    136                  $3.04        $412.89
20-24                    365                  $3.05      $1,114.06
25-29                    101                  $2.90        $293.00
30-34                     73                  $2.93        $214.00
35-39                     41                  $3.60        $147.67
40+                       13                  $2.94         $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
#calculate to obtain the results in the table
total_purchas_sum = pd.DataFrame(purchase_data)
total_purchas_sum.head()

group_SN_df = total_purchas_sum.groupby("SN")
group_SN_df.count()

sum_group_SN_df = pd.DataFrame(group_SN_df["Purchase ID"].count())
sum_group_SN_df

total_purchase_SN = group_SN_df["Price"].sum()
total_purchase_SN

total_purchase_SN_avg = group_SN_df["Price"].mean()
total_purchase_SN_avg
avg_purchase_SN = total_purchase_SN_avg.map("${:,.2f}".format)
avg_purchase_SN

#create calculate summary in to columns
sum_group_SN_df["Average Purchase Price"] = avg_purchase_SN
sum_group_SN_df["Total Purchase Value"]= total_purchase_SN
sum_group_SN_df

#rename of the columns 
summary_age_purchase_SN = sum_group_SN_df.rename(columns={"Purchase ID" : "Purchase Count"})
summary_age_purchase_SN

total_SN_df = summary_age_purchase_SN.sort_values("Total Purchase Value", ascending=False)
total_SN_df.head()

# Format Total Purchase Price to be in dollar form
total_purchase_value_SN = total_purchase_SN.map("${:,.2f}".format)
total_SN_df["Total Purchase Value"] = total_purchase_value_SN
total_SN_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
purchase_data["Item ID"]

0      108
1      143
2       92
3      100
4      131
      ...
775     60
776    164
777     67
778     92
779     50
Name: Item ID, Length: 780, dtype: int64

In [30]:
#create grooupby item ID and Item name 
item_ID_df = purchase_data.groupby(["Item ID","Item Name"])
item_ID_df.count()

#create dataframe for purchase id to as count
item_sum_df = pd.DataFrame(item_ID_df["Purchase ID"].count())
item_sum_df
#create sum and mean of price 
total_purchase_item = item_ID_df["Price"].sum()
total_purchase_item
total_purchase_item_value = total_purchase_item.map("${:,.2f}".format)
total_purchase_item_value

purchase_item_price = item_ID_df["Price"].mean()
purchase_item_price
purchase_item_price_value = purchase_item_price.map("${:,.2f}".format)
purchase_item_price_value

# obtain value in the columns 
item_sum_df["Item Price"] = purchase_item_price_value
item_sum_df["Total Purchase ID"]= total_purchase_item_value
item_sum_df

#summary of total purchase count 
summary_item_df = item_sum_df.rename(columns={"Purchase ID" : "Purchase Count"})
total_item_df = summary_item_df.sort_values("Purchase Count", ascending=False)
total_item_df.head()

,,Purchase Count,Item Price,Total Purchase ID
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [31]:
#sortthe above table in order in purchase count

summary_item_df["Total Purchase Value"] = item_ID_df["Price"].sum()
summary_item_df

total_item_df = summary_item_df.sort_values("Total Purchase Value", ascending=False)

total_purchase_item_value = total_purchase_item.map("${:,.2f}".format)
total_item_df["Total Purchase Value"] = total_purchase_item_value
total_item_df.head()

,,Purchase Count,Item Price,Total Purchase ID,Total Purchase Value
Item ID,Item Name,,,,
92,Final Critic,13,$4.61,$59.99,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76,$50.76
82,Nirvana,9,$4.90,$44.10,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22,$41.22
103,Singed Scalpel,8,$4.35,$34.80,$34.80