### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd

In [17]:

# File to Load (Remember to Change These)
file_load = "purchase_data.csv"


# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_load, encoding = " ISO-8859-1")
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

In [18]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

In [19]:
#Display the total number of players
player_count = len(purchase_data["SN"].unique())
player_count 
#create dataframe  to summary the player 
player_df = pd.DataFrame({"Total Player": [player_count]})
player_df

   Total Player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
purchase_data["Price"].sum()

2379.77

In [21]:
#Run basic calculations to obtain number of unique items, average price, etc.

unique_items = len(purchase_data["Item ID"].unique())
unique_items


total_purchasing = purchase_data["Purchase ID"].count()
total_purchasing

total_profits = purchase_data["Price"].sum()
total_profits


average_data = purchase_data["Price"].mean()
average_data

#average_data = average_data1
average_data1 = total_profits/total_purchasing
average_data1


#Create a summary data frame to hold the results
purchase_analysis_df = pd.DataFrame([{"Unique Items":unique_items, "Average Price":average_data,
                             "Total Purchasing":total_purchasing, "Total Profits": total_profits}])
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Profits"] = purchase_analysis_df["Total Profits"].map("${:,.2f}".format)
purchase_analysis_df

sum_analys_df = purchase_analysis_df[["Unique Items", "Average Price", "Total Purchasing", "Total Profits"]]
sum_analys_df

   Unique Items Average Price  Total Purchasing Total Profits
0           179         $3.05               780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
#create dataframe for gender
gender_df = pd.DataFrame(purchase_data["Gender"].value_counts())
gender_df 

percentage_player = (purchase_data["Gender"].value_counts()/player_count)*100
percentage_player

gender_df["Percentage of Player"] = percentage_player
gender_df["Percentage of Player"] = gender_df["Percentage of Player"].map("{:,.2f}%".format)
gender_df 

#create columns for Gender and count 
gender_col_df = gender_df[["Percentage of Player", "Gender"]]
gender_col_df

#remane gender as total count
rename_gender_df = gender_col_df.rename(columns={"Gender":"Total Count"})
rename_gender_df

                      Percentage of Player  Total Count
Male                               113.19%          652
Female                              19.62%          113
Other / Non-Disclosed                2.60%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
#groupby calculated on purchase count avg, purchase price avg, total purchase per person by gender
avg_purchase_gender_df = purchase_data.groupby(["Gender"])
avg_purchase_gender_df["Purchase ID"].count().head()

total_purchased = avg_purchase_gender_df["Price"].sum()
total_purchased
total_purchased_value = total_purchased.map("${:,.2f}".format)
total_purchased_value

#average purchases price by gender
avg_purchase_price = avg_purchase_gender_df["Price"].mean()
avg_purchase_price

avg_purchase_gender_value = avg_purchase_price.map("${:,.2f}".format)
avg_purchase_gender_value

#calculate the total purchase and divided player counts by gender
total_value = total_purchased/avg_purchase_gender_df["Purchase ID"].count()
total_value_df = total_value.map("${:,.2f}".format)
total_value_df

#display the summary data frame added to columns 
gender_purchesed_df = pd.DataFrame(avg_purchase_gender_df["Purchase ID"].count())
gender_purchesed_df["Average Price"] = avg_purchase_gender_value
gender_purchesed_df["Total Purchased Per Person"] = avg_purchase_price
gender_purchesed_df

                       Purchase ID Average Price  Total Purchased Per Person
Gender
Female                         113         $3.20                    3.203009
Male                           652         $3.02                    3.017853
Other / Non-Disclosed           15         $3.35                    3.346000

In [24]:
purchase_data["Age"].count()

780

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
bins = [0,9,14,19,24,29,34,39,99]
age_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["Demographics"] = pd.cut(purchase_data["Age"],bins,labels=age_group)

#Percentage and Count of Demographics
age_group_count = purchase_data ["Demographics"].value_counts()
percentage_age_group = age_group_count/player_df

#Create new dataframe using both calculations
age_demographic_df = pd.DataFrame({"Total Count":age_group_count,
                                   "Percentage of Players":percentage_age_group})

# Use Map to format all the columns
age_demographic_df["Percentage of Players"] = age_demographic_df["Percentage of Players"].map("{:,.2%}".format)
age_demographic_df.sort_index(inplace=True)
age_demographic_df

ValueError: Shape of passed values is (9, 2), indices imply (8, 2)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame